<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Size Tracker for Spotify</title>
    <link rel="icon" href="/images/spotify logo.png" type="image/png">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="bar">
            <a href="https://github.com/BlackCat64" target="_blank"><div class="creator">
                <img class="icon" src="/images/discord pfp square.jpg" alt="BlackCat64">
                <h3 class="username">BlackCat64</h3>
            </div></a>
        </div>
        <div class="content">
            <div class="title">
                <h1>Playlist Size Tracker</h1>
                <h2>for Spotify</h2>
                <span><img src="/images/spotify logo.png" alt="Spotify"></span>
            </div>
            <div class="login">
                <button onclick="window.location.href='/login';"><img src="/images/black spotify icon.png" alt="Spotify"><span>Login</span></button>
            </div>
            <div class="attribution">
                Background Designed by <a href="https://www.freepik.com">Freepik</a>
            </div>
        </div>
    </div>
</body>
</html>