#chart_display {
    width: 70%;
    height: 70%;
}

#chart_controls_title {
    margin: 5px;
}

#options_row {
    border-style: dotted;
    border-radius: 10px;
}

#options_row td {
    padding: 12px;
    text-align: center;
    border: 0;
}

#tracks_table {
    width: 100%;
    border: 3px solid rgb(128, 128, 128);
    border-collapse: collapse;
    border-radius: 10px;
}

#tracks_table th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}

#tracks_table th {
    background-color: #e0e0e0;
    text-align: center;
    font-weight: bolder;
}

#tracks_table tr:nth-child(even) {
    background-color: #f7f7f7;
}

#options_row #graph_end_select {
    text-align: left;
}

#options_row #graph_end_select #graph_end_select_title {
    font-weight: bold;
    font-size: large;
}