#chart_display {
    width: 70%;
    height: 70%;
}

#chart_controls_title {
    margin: 5px;
}

#tracks_table {
    width: 100%;
    border: 3px solid rgb(128, 128, 128);
    border-collapse: collapse;
}

#tracks_table th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
}

#tracks_table th {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bolder;
}

#options_row td {
    padding: 12px;
    text-align: center;
    border: 0;
}