* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', 'Arial', sans-serif;
    background: url('/images/background.jpg') center;
    background-size: cover;
    color: #ffffff;
    font-size: large;
}

.bar {
    width: 100%;
    height: 80px;
    margin: auto;
    background-color: rgb(24,24,24);
}

.creator {
    color: #ccf55e;
    font-family: 'Inter', 'Arial', sans-serif;
    display: inline-block;
    padding: 10px;
    height: 60px;
    transition: 0.2s ease-in-out;
}

.creator:hover {
    color: #abce4e;
}

.icon {
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
}

.username {
    display: inline-block;
    vertical-align: middle;
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: #21d0a7;
    font-size: 90px;
}

.title h2 {
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.title img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.login {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
}

.login button {
    background-color: #1ed760;
    border: 5px solid #1ed760;
    border-radius: 40px;
    padding: 16px 40px;
}

.login button img {
    width: 35px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
}

.login button span {
    margin-left: 10px;
    color: #000;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
    vertical-align: middle;
}