body {
    font-family: 'Inter', 'Arial', sans-serif;
    background: rgb(48,48,48);
    color: #ffffff;
    font-size: large;
}

h1 {
    font-family: 'Inter', 'Arial', sans-serif;
    color: #21d0a7;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

img {
    width: 64px;
    height: auto;
}

table {
    width: 40%;
    margin-left: 30%;
    border-spacing: 0 20px;
}

tr {
    background-color: rgb(24,24,24);
    box-shadow: 0 0 0 5px rgb(100, 100, 100);
    border-radius: 10px;
    height: 80px;
}
tr:hover {
    background-color: rgb(36,36,36);
}
tr:active {
    background-color: rgb(44, 44, 44);
}

td {
    padding: 10px;
    cursor: pointer;
    /*border: 1px solid white;*/
}

.images {
    padding-left: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list_names {
    font-family: 'Inter', 'Arial', sans-serif;
    color: #ccf55e;
    font-size: x-large;
}

.num_songs {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: larger;
    padding-left: 30px;
    padding-right: 0;
    max-width: 60px;
}